NODE_ENV=""
PORT="your-port"
DATABASE_URL="your-database-url"
JWT_SECRET="your-jwt-secret"
JWT_EXPIRES_IN="your-jwt-expires-in"
CORS_ORIGIN="your-cors-origin"
CORS_METHODS="your-cors-methods"
CORS_CREDENTIALS="your-cors-credentials"