NODE_ENV="development"
PORT=4040
DATABASE_URL="mongodb://rootadmin:secretpassword@127.0.0.1:27017/url_shortener?authSource=admin"
JWT_SECRET="your-super-secret-jwt-key"
JWT_EXPIRES_IN="7d"
BASE_URL="http://localhost:4040"